@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM CSS */


.poppins {
    font-family: "Poppins", sans-serif;
  }

#app{
    background: url(/src/assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card_img:hover img{
  transform: scale(1.1);
}

.social_icons svg:hover{
  transform: scale(.9);
  transition: .2s;
}